<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>HEADER</h2>
    <!-- <p>ini letak konten yang dinamis</p> -->
     <!-- tag di bawah ini digunakan untuk memberikan tanda bahwa bagian ini yang akan dinamis -->
     <%-body%>
    <h2>FOOTER</h2>
    
</body>
</html>